---
layout: page
title: MKJJO
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">We will find a way. <br> We always have</h1>
          <p class="animated fadeInUp">I tried to live everyday as if it was the final day of my extraordinary, orinary life.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Me</h2>
            <p>Mikyung Cho. I am working for investment company and learning data analysis.</p>
            <p></p>
            <p>tools : Python, R, SQL, VBA</p>
            <p>just strarted : Bootstrap</p>
            <p>etc : Photoshop, Illustrator, MS Office</p>
          </div>
          <p></p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT IDEAS</h2>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <a href="#" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>My interests</h2>
        <p>Learn, empathize and create!</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-lg-3">
        <div class="service-item">
          <i class="ion-coffee"></i>
          <h4>ML/AL</h4>
          <p>Machine learning, Artificial intelligence.</p>
          <p>Data is a big asset of the future.</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Fintech</h4>
          <p>Financial innovation has begun.</p>
          <p>Financial data analysis has great power.</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>Design</h4>
          <p>Design is a gateway to make change.</p>
          <p>UX Design and Infographic are the key.</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Research on biz ecosystems is essential.</p>
          <p>A business that changes the world.</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Develop innovation through data.</p>
          <p>We can make meaningful changes.</p>
        </div>
      </div> 
      <div class="col-sm-6 col-lg-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Eco System</h4>
          <p>Blockchain, Agile, Shared economy.</p>
          <p>Every system is evolving.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>I believe in the power of thought.</h2>
          <p>If you can do something wonderful with me, please contact me. I believe that small skills and ideas can gather to create great work.</p>
          <a class="btn btn-default btn-call-to-action" href="https://mkjjo.github.io/contact/" >contact me</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About me</h2>
        <p>What I have enjoyed and made</p>
      </div>
    </div>
    <div class="row">
      {% if site.data.funfacts.size > 0 %}
      <div class="block">
        {% for ff in site.data.funfacts %}
        <ul class="counter-box clearfix">
          <li>
            <div class="block">
              <i class="{{ ff.icon }}"></i>
              <h4 class="counter">{{ ff.counter }}</h4>
              <span>{{ ff.text }}</span>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</section>
