<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">

          <!-- togle 모바일/가로 축소시 사용시 활성화됨 -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <!-- end togle -->


          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">

            <!-- logo -->
            <a class="navbar-brand" href="{{ site.baseurl }}/">
              <div class="logo-text">
                <span STYLE="background-color:#000000;">
                <h2>MKJJO</h2>
                </span>
              </div>
            </a>
            <!-- end logo -->

          </div>

          <br>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-title" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right home-title">
              <li><a href="{{ site.baseurl }}/">Home</a></li>
              <li><a href="{{ site.baseurl }}/work">Work</a></li>
              <li><a href="{{ site.baseurl }}/blog">Blog</a>
                <ul class="sub-category">
                {% assign pages_list = site.pages %}
                  {% for node in pages_list %}
                    {% if node.title != null %}
                      {% if node.layout == "category" %}
                        <li><a class="category-link {% if page.url == node.url %} active{% endif %}"
                        href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
              <!--
              <li><a href="{{ site.baseurl }}/trend">Trend</a></li>
               -->
              <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
              <li><a href="{{ site.baseurl }}/tags/#">Tags</a></li>
            </ul>


          </div><!-- /.navbar-collapse -->

          <!-- Search bar -->
          <div class="navbar-button">
          <ul class="navbar-nav navbar-right" style="white-space: nowrap;">

            <li>
            <form action="{{ site.baseurl }}/search.html" method="get">
            <input type="text" name="q" id="tipue_search_input" placeholder="Search" pattern=".{3,}" title="At least 3 characters" required>
            <button type="submit" class="tipue_search_icon_none">
              <img src="/assets/tipuesearch/search.png" class="tipue_search_icon">
            </button>
            </form>
            <li>

            <!-- tag 버튼
            <li>
            <a href="{{ site.baseurl }}/tags/#">
              <div style="float: right;">
              <button type="submit" class="tipue_search_icon_none">
                <img src="/assets/tipuesearch/tag.png" class="tipue_search_icon">
              </button>
              </div>
            </a>
            </li>

            -->
          </ul>
          </div>
          <!-- end search -->


        </div><!-- /.container-fluid -->

      </nav>
    </div>
  </div>
</div>
</header><!-- header close -->
