---
layout: page
---


<!-- Slider Start -->
<section id="tags-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="animated fadeInUp home-title">{{assign category}}</h1>
        </div>
      </div>
    </div>
  </div>
</section>





{% assign category = page.category | default: page.title %}
{% for post in site.categories[category] %}
<div class="post-area">
  <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
  <p class="post-date">{{ post.date | date_to_long_string }}</p>
  <p>
    {{ post.content | strip_html | truncatewords: 30 }}
  </p>
</div>
{% endfor %}
